@import '../../stylesheets/colors.scss';

$opacity-1: 1;
$opacity-2: 0.6;
$opacity-3: 0.2;

.LoadingPoster {
  .container {
    background-color: #303030;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  &:nth-last-of-type(3) .container {
    opacity: $opacity-1;
    animation-name: poster-1;
    animation-delay: 0s;
  }
  
  &:nth-last-of-type(2) .container {
    opacity: $opacity-2;
    animation-name: poster-2;
    animation-delay: 0.3s;
  }
  
  &:nth-last-of-type(1) .container {
    opacity: $opacity-3;
    animation-name: poster-3;
    animation-delay: 0.6s;
  }
}

@keyframes poster-1 {
  0% { opacity: $opacity-1; }
  50% { opacity: 0; }
  100% { opacity: $opacity-1; }
}

@keyframes poster-2 {
  0% { opacity: $opacity-2; }
  50% { opacity: 0; }
  100% { opacity: $opacity-2; }
}

@keyframes poster-3 {
  0% { opacity: $opacity-3; }
  50% { opacity: 0; }
  100% { opacity: $opacity-3; }
}
