$black: black;
$black-36p: rgba(0, 0, 0, 0.36);
$black-60p: rgba(0, 0, 0, 0.6);
$black-72p: rgba(0, 0, 0, 0.72);
$black-80p: rgba(0, 0, 0, 0.8);
$black2: #202020;
$dark: #444444;
$grey: #666666;
$grey2: #aaaaaa;
$light: #cacaca;
$light2: #fafafa;
$white: white;

$red: #a02525;
