@import '../../stylesheets/colors.scss';
@import '../../stylesheets/breakpoints.scss';

.MoviePage {
  .Header {
    padding-bottom: 12px;
    background-color: $black-60p;
    -webkit-mask-image: linear-gradient(white, white, white, transparent);
    mask-image: linear-gradient(white, white, white, transparent);
  }

  .loading,
  .error {
    text-align: center;
    font-weight: 600;
  }

  .backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
    -webkit-mask-image: linear-gradient(white, white, transparent);
    mask-image: linear-gradient(white, white, transparent);
  }

  .container {
    display: flex;
    justify-content: center;
    
    .overlay {
      display: flex;
      max-width: $md;
      margin: 56vh 16vw 24px;
      padding: 12px 42px 32px 32px;
      border-radius: 16px;
      background-color: $black-72p;
      box-shadow: 0px 3px 12px 0px $black-36p;

      .poster {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 185px;
        max-width: 240px;
        height: 100%;

        .Poster {
          margin: 16px 16px 0 0;
        }
      }

      .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-left: 32px;

        .tagline {
          text-align: center;
          font-style: italic;
          color: $white;
          text-shadow: 0px 1px 4px #ffffff4d;
        }

        .release {
          margin-top: -16px;
          font-size: 13px;
          font-weight: 600;
        }
  
        .genres {
          margin-top: 8px;
  
          .Badge {
            margin-top: 8px;
            margin-right: 8px;
          }
        }
      }
    }
  }

  @media screen and (max-width: $lg) {
    .container .overlay {
      margin: 48vh 12vw 24px;
    }
  }

  @media screen and (max-width: $md) {
    .container .overlay {
      margin: 36vh 12vw 24px;
    }
  }

  @media screen and (max-width: $sm) {
    .container .overlay {
      margin: 30vh 8vw 16px;
      flex-direction: column;
      align-items: center;

      .poster {
        height: initial;
      }

      .info {
        margin-left: 0;
      }
    }
  }

  @media screen and (max-width: $xs) {
    .container .overlay {
      margin: 16vh 6vw 16px;
    }
  }
}
